<!DOCTYPE html>
<html lang="en">
<head>
	<title>Learn Python</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
	<meta name="viewreport content =" width-device=width, initial-scale="1.0">
</head>
<body class="body" ">

	
		<img  src="/static/img/logo1.png" width="130" height="130" align="left" ><br><br><h1 >Learn Python-A Beginner's Guide</h1>
		
		
<!--Navigation-->
	 <nav><ul>
	 <li>&nbsp</li>
	  <li>&nbsp</li>
		
		<!--<li><a href="/Blog/{{ 1 }}"></a></li>
		<li><a href="/Blog/{{ 4 }}"></a>
		
			
			<!-- <ul>
			<li><a href="/Blog/{{ 3 }}">Basic Syntax&nbsp</a></li>
			<li><a href="/Blog/{{ 2 }}">Environment &nbsp</a></li>
			<li><a href="/Blog/{{ 1 }}">Overview&nbsp</a></li>
			</ul>
		
		
				<!-- <li><a href="#">Basic Syntax</a></li>
				<li><a href="#">Variable Types</a></li>
				<li><a href="#">Decision Making</a></li>
				<li><a href="#">Loops</a></li>
				<li><a href="#">Handling Errors</a></li>
				</ul> -->
	
		<!-- <li><a href="/Blog/{{ 2 }}"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		-->	
		</ul>
		</nav> 

	<aside class="sideInfo">
		<article>
		
<!-- For Side Information-->		
			<h4 align="center">Modules</h4>
			<ul id="nav2">
<li><a href="/Blog/{{ 1 }}">Introduction to Python </a></li>
<li><a href="/Blog/{{ 6 }}">Understand Variables,Data Types and Operators </a></li>
<li><a href="#">Conditional Statement </a></li>
<li><a href="#">Iteration/Looping Statement </a></li>
<li><a href="#">Python Functions </a></li>
<li></li><a href="#">String,Numbers,Date and Time </a></li>
<li><a href="#">Files I/O and File Exceptions </a></li></ul>

</article></aside>
<div class="mainContent">
	<div class="content">
	{% block content %}
	{% endblock%}
	</div>
</div>
<!-- <p align="center"><a href="/Blog/"><u>Home</u></a>&nbsp|&nbsp<a href="/Blog/"><u>Previous</u></a>&nbsp|&nbsp<a href="/Blog/"><u>Top</u></a>&nbsp|&nbsp<a href="/Blog/"><u>Next</u></a> -->
<footer class="mainFooter">

<p align="center">Copyright &copy;2014
</footer>





</body>




</html>