<!DOCTYPE html>
<html lang="en">
<head>
	<title>Learn Python</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
	<meta name="viewreport content = "width-device=width, initial-scale=1.0" >
</head>
<body class="body" >
	<header class="mainHead">
		<img  src="/static/img/logo1.png" width="130" height="130" align="left" ><br><br><br><font id="t1" >Learn Python-A Beginner's Guide</font>
		<nav><ul>
		<li><a href="#">Overview&nbsp</a></li>
		<li><a href="#">Topics&nbsp</a>
			<ul>
				<li><a href="#">Basic Syntax</a></li>
				<li><a href="#">Variable Types</a></li>
				<li><a href="#">Decision Making</a></li>
				<li><a href="#">Loops</a></li>
				<li><a href="#">Handling Errors</a></li>
				</ul>
		</li>
		<li><a href="#">Sample Coding&nbsp</a></li>
		<li><a href="#"> Practical Exam</a></li>
		<li><a href="#">References</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Contact Us</a></li>
		
		</ul>
		</nav>
	</header>
	<aside class="sideInfo">
	<img src="/static/img/side1.jpg" width="200" height="150" align="right"><br><br><br>
		<p>"Python is powerful... and fast; 
				plays well with others; 
				runs everywhere; 
					friendly & easy to learn; 
						is Open."</p>
			<p><i>These are some of the reasons people who use Python 
			would rather not use anything else.</i></p>
			<!-- <h2>Activities</h2> 
			{% for post in object_list %}
			<p>{{ post.date|date:"Y-m-d"}} <a href=#></a></p>
			{% endfor %} -->
		
	</aside>	
	
	 
	<div class="mainContent">
		<div class="content">
		<article class="typicalArticle">
			<header>
				<h3><a href='#' title="latest post" >Overview</a></h3>
			</header>
			
			<footer>
				<p class="postInfo">Posted on 24th Nov.2014</p>
				</footer> 
				
		
		<content>
			<font  size="3" face="Calibri" align="justified">
			<p>Python is a high-level, interpreted, interactive and object-oriented scripting language.<br> Python was designed to be highly readable which uses English keywords<br>
				frequently where as other languages use punctuation and it has fewer syntactical constructions than other languages.<br>

					 Python is Interpreted: This means that it is processed at runtime by the interpreter and you do not need to compile your program before executing it. 
							This is similar to PERL and PHP.<br>
					

				
			
					


			</content>
		</article>
		</div>

</div>
<footer class="mainFooter">
<p align="center">All Rights Reserved.Copyright &copy;2014
</footer>





</body>




</html>