{% extends "base.html" %}
{% block content %} 



<br><h3 align="center" >"Python is powerful... and fast; 
				plays well with others; 
				runs everywhere; 
					friendly & easy to learn; 
						is Open."</h3><br><br>
						<center><img id="b2"  src="/static/img/side1.jpg" height="250" width="450" " 
<!-- {% for post in object_list %} -->
<br>
<br>
<br>
<!-- 
<h3><a href="/Blog/{{post.id}}"> {{ post.title }}</a></h3>
<div class="post_meta">
	on {{ post.date }}
</div>
 -->
<!-- <div class="post_body">
	{{ post.body|safe|linebreaks }}
</div>
<!--  -->
<!-- {% endfor %} -->
 {% endblock %}   